<header class="header">
    <div class="header__container container">
        <div class="logo">
            <div class="logo__icon"></div>
            <svg class="header__notifications">
                <use href="./notifications.svg#notifications"></use>
            </svg>
        </div>
        <nav class="header__navigation">
            <ul class="header__list">
                <li class="header__item">Menu</li>
                <li class="header__item">Tables</li>
            </ul>
        </nav>
        <div class="header__profile">
            <div class="header__authorization">
                sign in / sign up
            </div>
            <div class="header__avatar-icon">
            </div>
        </div>
    </div>
</header>