@using MINT_Blazor.Models;
@page "/stores/create"
@inject HttpClient Http
@inject NavigationManager Navigation

<h3>Add a new store</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm Model="@store" OnValidSubmit="@HandleValidSubmit">
            <div class="form-group">
                <label for="storeName" class="control-label">Name:</label>
                <InputText id="storeName" @bind-Value="store.StoreName" class="form-control"></InputText>
            </div>
            <div class="form-group">
                <label for="phone" class="control-label">Phone:</label>
                <InputText id="phone" @bind-Value="store.Phone" class="form-control"></InputText>
            </div>
            <div class="form-group">
                <label for="email" class="control-label">Email:</label>
                <InputText id="email" @bind-Value="store.Email" class="form-control"></InputText>
            </div>
            <div class="form-group">
                <label for="street" class="control-label">Street:</label>
                <InputText id="street" @bind-Value="store.Street" class="form-control"></InputText>
            </div>
            <div class="form-group">
                <label for="city" class="control-label">City:</label>
                <InputText id="city" @bind-Value="store.City" class="form-control"></InputText>
            </div>
            <div class="form-group">
                <label for="state" class="control-label">State:</label>
                <InputText id="state" @bind-Value="store.State" class="form-control"></InputText>
            </div>
            <div class="form-group">
                <label for="zipcode" class="control-label">Zip Code:</label>
                <InputText id="zipcode" @bind-Value="store.ZipCode" class="form-control"></InputText>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            @* <div class="form-group">
                <label asp-for="Store.StoreName" class="control-label"></label>
                <input asp-for="Book.Title" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Book.ReleaseDate" class="control-label"></label>
                <input asp-for="Book.ReleaseDate" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Book.Genre" class="control-label"></label>
                <input asp-for="Book.Genre" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Book.Pages" class="control-label"></label>
                <input asp-for="Book.Pages" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Book.Price" class="control-label"></label>
                <input asp-for="Book.Price" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Book.Author" class="control-label"></label>
                <input asp-for="Book.Author" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div> *@
        </EditForm>
    </div>
</div>

@code {
    private Store store = new();

    private async void HandleValidSubmit()
    {
        var response = await Http.PostAsJsonAsync<Store>("api/Store/CreateStore", store);

        int.TryParse(await response.Content.ReadAsStringAsync(), out int result);

        if(result == 1)
        {
            Navigation.NavigateTo("/stores");
        }
    }
}
